In [1]:
s={11,22,33,44}
print(s)

{33, 11, 44, 22}

In [4]:
s={11,22,33,44}
for data in s:
    print(data)

33
11
44
22
{33, 11, 44, 22}

In [9]:
str="My name s pradeep I love my country"
v={'a','e','i','o','u'}
l=set(str)
s=l.intersection(v)
print(s)

{'o', 'u', 'e', 'a'}

In [15]:
s={11,22,33,44}
for data in s:
    print(data,hash(data))

33 33
11 11
44 44
22 22

In [23]:
s={"kaushal","pradeep","aniket","abhi","omkar"}
for data in s:
    print(data,":",hash(data))

pradeep : -8519048176030672207
omkar : 6981055896216601287
aniket : -6575937758396512677
kaushal : 7890919136025677708
abhi : -6216623190106509666

In [26]:
s={11,11,11,55,44,77,55}
print(s)

{11, 44, 77, 55}

In [25]:
s=[10,22,44,22,66,88]
l=list(s)
print(l)
S=set(s)
print(S)
t=tuple(s)
print(t)

[10, 22, 44, 22, 66, 88]
{66, 10, 44, 22, 88}
(10, 22, 44, 22, 66, 88)

In [29]:
s={11,11,11,55,44,77,55}
l=len(s)
print(l)
print(s)

4
{11, 44, 77, 55}

In [34]:
t=()
print(t)
print(type(t))

l=[]
print(l)
print(type(l))

s={}
print(s)
print(type(s))

a=set()
print(a)
print(type(a))

()
<class 'tuple'>
[]
<class 'list'>
{}
<class 'dict'>
set()
<class 'set'>

In [50]:
s={'pune','mumbai',"beed",'pune'}
print(s)
print(id(s))
s.add(11)
s.add("kalyan")
print(s)
print(id(s))
s.remove(11)
print(s)
s.clear()
print(s)
print(id(s))

{'mumbai', 'beed', 'pune'}
1593395680128
{'mumbai', 11, 'kalyan', 'beed', 'pune'}
1593395680128
{'mumbai', 'kalyan', 'beed', 'pune'}
set()
1593395680128

In [63]:
l=set()
s={11,22,33}
str={'pune','mumbai',"beed",'pune'}

r=range(0,5)
l.update(str,r,s)
print(l)

{'mumbai', 0, 1, 2, 3, 4, 33, 11, 22, 'beed', 'pune'}

In [64]:
s={11,22,33,[66,99]}
print(S)

TypeError: unhashable type: 'list'

In [65]:
s={11,22,33,44,(99,88)}
print(s)

{33, 22, 11, 44, (99, 88)}

In [70]:
set1={22,55,66,88}
set2=set()
set2=set1.copy()
print(set2)
print(id(set1))
print(id(set2))

{88, 66, 22, 55}
1593397135168
1593395679904

In [72]:
set1={22,55,66,88}
set1.remove(22)
print(set1)

{88, 66, 55}

In [73]:
set1={22,55,66,88}
set1.remove(99)
print(set1)

KeyError: 99

In [76]:
set1={22,55,66,88}
set1.pop()
print(set1.pop())

66

In [77]:
set1=set()
set1.pop()
print(set1.pop())

KeyError: 'pop from an empty set'